<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="zeus_user_show_connexion_table" path="/show-conn-table">
        <default key="_controller">imanaging_zeus_user.connexion_controller::showTableConnexion</default>
    </route>

    <route id="zeus_user_get_data_for_redirect" path="/get-data-for-redirect">
        <default key="_controller">imanaging_zeus_user.connexion_controller::getDataForRedirect</default>
    </route>
</routes>
